* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
}

header {
  margin-bottom: 1em;
  padding: 1em;
  text-align: center;
  background-color: #e0cc10;
}

main {
  text-align: center;
}

@media screen and (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}

main div div {
  padding: 1em;
}

main div div h3 {
  text-align: center;
}

main div div ul {
  list-style: none;
}

main div div ul li {
  margin: 0.5em 0;
}

main div div ul li a {
  text-decoration: none;
  color: blue;
}

footer {
  background-color: #e0cc10;
  margin-top: 1em;
  padding: 0.25em;
  text-align: center;
}
