:root {
    --primario-color: #75624c;
}

body {
    margin: 0;
    padding: 1em;
    font-family: "Roboto";
    font-size: 16px;
}

body>div {
    background-color: #BD9F7A;
    padding: 18px;
    margin-top: 20px;
    border-radius: 10px;
}

header h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

main {
    background-color: #D2B188;
    margin: 0 auto;
    width: 80%;
    height: auto;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 80% 20%;
    box-shadow: 0 0 15px #2C241C;
}

h1 {
    text-align: center;
    font-weight: bold;
}

button {
    margin-top: 10px;
    background-color: #E4F2E4;
    color: var(--primario-color);
}

button:hover {
    background-color: #F0F0F0;
}

button:active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#listaBolas {
    padding: 1em;
    border: 3px solid var(--primario-color);
    border-radius: 0px 10px 0px 0px;
    align-items: center;
    justify-content: center;
}

#ganar {
    display: none;
    position: absolute;
    top: 1.25em;
    width: 70%;
    height: 200px;
    color: black;
}

#divGanar {
    display: none;
    background-color: var(--primario-color);
    border-radius: 20px;
    text-align: center;
}

#sectionIntentos {
    padding: 1em;
    border: 3px solid var(--primario-color);
    border-radius: 0px 10px 0px 0px;
    align-items: center;
    justify-content: center;
}

#comprobar {
    border-radius: 100%;
    height: 50px;
    bottom: 0px;
    left: 5px;
    border: 4px solid #473B2E;
    color: #473B2E;
}

#comprobar span {
    padding: 10px 10px 10px;
    display: inline-block;
}

#limpiar {
    height: 30px;
    margin: 0 auto;
    margin-top: 10px;
}

#tablero {
    border: 3px solid var(--primario-color);
    border-radius: 10px 0px 0px;
    padding: 2em;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
}

.bolas {
    border-radius: 100%;
    height: 60px;
    width: 60px;
    margin: 0 auto;
    border: 1px solid var(--primario-color);
}

#blanca {
    background-color: white;
    margin-top: 10px;
}

#negra {
    background-color: black;
    margin-top: 10px;
}

#roja {
    background-color: red;
    margin-top: 10px;
}

#marron {
    background-color: brown;
    margin-top: 10px;
}

#amarilla {
    background-color: yellow;
    margin-top: 10px;
}

#verde {
    background-color: green;
    margin-top: 10px;
}

#naranja {
    background-color: orange;
    margin-top: 10px;
}

#azul {
    background-color: blue;
    margin-top: 10px;
}

.casilla {
    display: inline-block;
    border-radius: 100px;
    height: 70px;
    width: 70px;
    margin: 25px;
    border: 1px solid var(--primario-color);
}

.casillaPista {
    border-radius: 50px;
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: 25px;
    border: 1px solid var(--primario-color);
}

footer {
    text-align: center;
}

footer span {
    color: black;
}

#botones {
    text-align: center;
    width: 80%;
    margin: 1em auto;
    border: 3px solid var(--primario-color);
}

#botones button {
    border-radius: 100%;
    height: 50px;
    border: 4px solid #473B2E;
    color: #473B2E;
}

#botones span {
    padding: 10px 10px 10px;
    display: inline-block;
}