body {
    font-size: 16px;
    font-family: "Roboto";
    margin: 1em;
}

header {
    margin: 1em;
    text-align: center;
    background-color: rgb(241, 214, 179);
}

main {
    text-align: center;
}

footer {
    margin: 1em;
    text-align: center;
    background-color: rgb(241, 214, 179);
}