body {
  font-family: "Roboto";
}

header {
  min-height: 75px;
  text-align: center;
  background-color: #ffeb3b;
  margin-bottom: 20px;
  padding: 1em 0 1em 0;
}

main {
  margin: 0.5em;
}

form {
  width: 40%;
}

span {
  color: red;
}

footer {
  background-color: #ffeb3b;
  text-align: center;
  min-height: 20px;
  padding: 1em 0 1em 0;
  margin-top: 1em;
}
