:root {
    --primario-color: rgb(236, 174, 40);
}

body {
    font-family: "Roboto";
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    min-height: 75px;
    text-align: center;
    background-color: var(--primario-color);
    margin-bottom: 20px;
    padding: 1em 0 1em 0;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

canvas {
    margin: 1em;
}

footer {
    background-color: var(--primario-color);
    text-align: center;
    min-height: 20px;
    padding: 1em 0 1em 0;
    margin-top: 1em;
}